<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <input  [(ngModel)]="parqueoAgregar.placa" placeholder="Ingrese Placa" />
    <input [(ngModel)]="parqueoAgregar.cilindraje" placeholder="Ingrese Cilindraje" />
    <button (click)="guardarIngreso($event)" type="button" class="btn btn-primary">Guardar Ingreso</button>
  </div>
</div>
<table class="table">
<thead>
  <tr>
    <th>Placa</th>
    <th>Tipo Vehiculo</th>
    <th>Fecha entrada</th>
    <th>Estado</th>
    <th>Opción</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let parqueo of parqueos" >
    <td>{{parqueo.placa}}</td>
    <td>{{parqueo.tipoVehiculo}}</td>
    <td>{{parqueo.fechaIngreso}}</td>
    <td> {{parqueo.estado}}
    </td>
    <td><button (click)="salidaVehiculo(parqueo)" class="btn btn-secondary">Salida</button></td>
  </tr>
</tbody>
</table>

