<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
<form [formGroup]="formGroup" (ngSubmit)="guardarIngreso(formGroup.value)">
  <div class="form-group">
    <label for="placa">Placa:
      <input placeholder="Ingrese Placa" formControlName="placa" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label for="cilindraje">Cilindraje:
      <input placeholder="Ingrese Cilindraje" formControlName="cilindraje" class="form-control">
    </label>
  </div>

  <input type="submit" value="Guardar Ingreso" class="btn btn-primary">
</form>

<br/>

<div *ngIf="alert" class="alert alert-success">
    <strong>Entrada Registrada!</strong> para vehiculo con placa {{parqueoAgregar.placa}}.
</div>

<br/>

<table class="table">

<thead>
  <tr>
    <th>Placa</th>
    <th>Tipo Vehiculo</th>
    <th>Fecha entrada</th>
    <th>Estado</th>
    <th>Opción</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let parqueo of parqueos" >
    <td>{{parqueo.placa}}</td>
    <td>{{parqueo.tipoVehiculo}}</td>
    <td>{{parqueo.fechaIngreso}}</td>
    <td> {{parqueo.estado}}
    </td>
    <td ng-disabled="parqueo.estado == 'I'"><button (click)="salidaVehiculo(parqueo)" class="btn btn-secondary">Salida</button></td>
  </tr>
</tbody>

</table>

</div>

